{% extends "admin/base_site.html" %}
{% load i18n %}

{% block bodyclass %}container{% endblock %}
{% block title %}{% trans 'Server error (500)' %}{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li>
			<a href="/">{% trans 'Home' %}</a><span class="divider">/</span>
		</li>
		{% if title %}	<li class="active">{{ title }}</li>{% endif %}
	</ul>
{% endblock breadcrumbs %}

{% block content %}
	<div class="row">
		<div class="offset4 span8">
			<h1>{% trans 'Server Error <em>(500)</em>' %}</h1>
			<p>{% trans "There's been an error. It's been reported to the site administrators via e-mail and should be fixed shortly. Thanks for your patience." %}</p>
		</div>
	</div>
{% endblock content %}
