{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}
{% load url from future %}

{% block extrastyle %}
  {{ block.super }}
  {% if cl.formset or action_form %}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
  {% endif %}
  {{ media.css }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}container-fluid{% endblock %}
{% block contentclass %}content{% endblock contentclass %}

{% if not is_popup %}
  {% block breadcrumbs %}
	<ul class="breadcrumb">
		<li>
			<a href="../../">{% trans 'Home' %}</a>
			<span class="divider">/</span>
		</li>
		<li>
       <a href="../">
         {{ app_label|capfirst }}
      </a>
			<span class="divider">/</span>
		</li>
		<li class="active">
      {{ cl.opts.verbose_name_plural|capfirst }}
		</li>
    </ul>
  {% endblock %}
{% endif %}





{% block content %}
      {% if cl.formset.errors %}
        <p class="errornote">
        {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module" id="changelist">
      {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}


		<form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>
			{% csrf_token %}
      {% if cl.formset %}
        <div>{{ cl.formset.management_form }}</div>
      {% endif %}

      {% block result_list %}
			<div class="well">
				{% block search %}{% search_form cl %}{% endblock %}
			{% if action_form and actions_on_top and cl.full_result_count %}
				{% admin_actions %}
			{% endif %}
				{% if has_add_permission %}
						<a href="add/{% if is_popup %}?_popup=1{% endif %}" class="btn primary">
						{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
						</a>
				{% endif %}
			</div>

          {% result_list cl %}
			
			 {% if action_form and actions_on_bottom and cl.full_result_count %}
			<div class="well">
			 {% admin_actions %}
			</div>
			{% endif %}

      {% endblock result_list %}
      {% block pagination %}{% pagination cl %}{% endblock pagination %}
      </form>
    </div>
{% endblock %}


{% block sidebar %}
	<div class="sidebar">
		<div class="well">

			{% block object-tools %}
				{% if has_add_permission %}
					{% block object-tools-items %}
					{#used to have add button #}
					{% endblock object-tools-items %}
				{% endif %}
			{% endblock object-tools %}


      {% block filters %}
        {% if cl.has_filters %}
            <h3>{% trans 'Filter' %}</h3>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
        {% endif %}
      {% endblock %}
		</div>
	</div>
{% endblock sidebar %}
