{% extends "admin/base_site.html" %}
{% load i18n %}
{% block bodyclass %}container-fluid{% endblock %}
{% block contentclass %}content{% endblock contentclass %}

  {% block breadcrumbs %}
	<ul class="breadcrumb">
		<li>
			<a href="../../../../">{% trans 'Home' %}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="../../../">{{ app_label|capfirst }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="../../">{{ module_name }}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="../">{{ object|truncatewords:"18" }}</a>
			<span class="divider">/</span>
		</li>
		<li class="active">
			 {% trans 'History' %}
		</li>
    </ul>
  {% endblock breadcrumbs %}

{% block content %}
<div id="content-main">
<div class="module">

{% if action_list %}
    <table id="change-history" class="condensed-table">
        <thead>
        <tr>
            <th scope="col">{% trans 'Date/time' %}</th>
            <th scope="col">{% trans 'User' %}</th>
            <th scope="col">{% trans 'Action' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for action in action_list %}
        <tr>
            <th scope="row">{{ action.action_time|date:"DATETIME_FORMAT" }}</th>
            <td>{{ action.user.username }}{% if action.user.get_full_name %} ({{ action.user.get_full_name }}){% endif %}</td>
            <td>{{ action.change_message }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans "This object doesn't have a change history. It probably wasn't added via this admin site." %}</p>
{% endif %}
</div>
</div>
{% endblock %}
{% block sidebar %}{% endblock sidebar %}
