{% load i18n %}
<div class="actions" {% if is_popup %}style="overflow: auto;"{% endif %}>
{% if show_save %}<input type="submit" value="{% trans 'Save' %}" class="btn primary" name="_save" {{ onclick_attrib }}/>{% endif %}
{% if show_delete_link %}<a href="delete/" class="btn danger">{% trans "Delete" %}</a>{% endif %}
{% if show_save_as_new %}<input type="submit" value="{% trans 'Save as new' %}" name="_saveasnew" class="btn" {{ onclick_attrib }}/>{%endif%}
{% if show_save_and_add_another %}<input type="submit" value="{% trans 'Save and add another' %}" name="_addanother" class="btn" {{ onclick_attrib }} />{% endif %}
{% if show_save_and_continue %}<input type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" class="btn" {{ onclick_attrib }}/>{% endif %}
</div>
