{% extends "admin/base.html" %}
{% block bodyclass %}container{% endblock bodyclass %}
{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
<h1>{{ form.title }}</h1>
    {% if form.description %}
    <p>{{ form.description }}</p>
    {% endif %}
    <form method="post"{% if form_for_form.is_multipart %} 
        enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        {{ form_for_form.as_p }}
        <div style="clear:left;">&nbsp;</div>
        <div class="actions">
            <input type="submit" value="Submit Evaluation" class="btn primary">
        </div>
    </form>
{% endblock content %}
