{% extends "admin/base_site.html" %}

{% block title %}Confirm Email{{ emailforms|pluralize }}{% endblock %}

{% block content %}

<form method="post" action="{% url emails.views.confirm_email %}?redirect={{ path }}">

	{% csrf_token %}
	
    <h1>The following email{{ emailforms|pluralize }} will be sent</h1>


<table>
	{% comment %}
	{{ emailforms.management_form }}
	{% for email in emailforms %}
	<tr><th>Recipient Email</th><td>{{ email.recipient_email }}</td></tr>
	<tr><th>Email Message</th><td>{{ email.email_message }}</td></tr>
	{% endfor %}
	{% endcomment %}
	{{ emailforms }}
	
</table>


    <input type="hidden" name="action" value="send_emails" />
    <input type="submit" name="send" value="Send Email{{ emailforms|pluralize }}" />
</form>

{% endblock %}